.shimmer{
  width: 328px;
   height: 295px;
   background-color: #f0f0f0;
   margin: 10px;
   border-radius: 10px;
}

.shimmercontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}